.login-form {
    max-width: 300px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
    background: '#22b8ff';
}

.center-div
{

    position: relative;
    margin: 0 auto;
    width: 300px;
}